src/*.exe
src/thepandacoin
src/thepandacoind
src/test_thepandacoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.thepandacoin

# Compilation and Qt preprocessor part
*.qm
Makefile
ThePandacoin-qt
ThePandacoin-Qt.app
ThePandacoin-Qt.dmg
qt_helper.sh

# Unit-tests
Makefile.test
thepandacoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
!src/leveldb/Makefile
